<div class="contact">
  <article class="article-body">
    <h2 style="text-align: center;">Get in touch</h2>
    <p style="text-align: center;">Please contact Dodge & Burn at<br>
      one of the email addresses below.<br>
      We look forward to hearing from you!<br>
    </p>
    <h5 style="text-align: center; margin-bottom: 0;">
      <span style="font-weight: normal;">
        For any customer inquires
      </span>
    </h5>
    <p style="text-align: center;">
      Contact us at
      <a href="mailto:kanutan93(at)gmail.com" target="_blank" title="Email Support">kanutan93@gmail.com</a>
    </p>
    <h5 style="text-align: center; margin-bottom: 0;">
      <span style="font-weight: normal;">
        Retailers wishing to carry our products
      </span>
    </h5>
    <p style="text-align: center;">
      Contact us at
      <a href="mailto:kanutan93(at)gmail.com">kanutan93@gmail.com</a>
    </p>
  </article>
</div>
