.image img{
  max-width: 40%;
  display: block;
  margin: 0 auto;
}

h1{
  margin-bottom: 2em;
  font-size: 1.2em;
  font-family: 'QuestrialRegular',Arial,Helvetica,sans-serif;
  font-weight: 100;
  text-transform: uppercase;
  letter-spacing: .2em;
}

.price{
  width: 100%;
  padding: 20px 0;
  display: table-cell;
}
.price span {
  font-size: 1.4em;
}

.icon{
  font-size: 12px!important;
}
.price .quantity{
  font-size: 1em;
  font-weight: lighter;
  display: inline;
  vertical-align: middle;
}

input#quantity {
  padding-top: 0 !important;
  padding-bottom: 0;
  width: 3em;
  clear: none;
  border: none;
}

.button{
  text-transform: uppercase;
  letter-spacing: .2em;
  color: inherit;
  border: 1px solid #cfdaea;
  padding: 1em;
  background: #fff;
  display: inline-block;
  zoom: 1;
  margin-top: 4px;
}

.button:hover {
  color: rgb(255, 82, 105);
}

h5{
  text-transform: uppercase;
  letter-spacing: .2em;
  color: #7dabd1;
  font-size: .8em;
}
