nav ul {
  text-align: center;
  list-style-type: none;
  padding: 0;
  position: relative;
}

nav ul li{
  display: inline-block;
  line-height: 1em;
  zoom: 1;
  z-index: 100;
}
a{
  text-transform: uppercase;
  padding: 1em 1.5em;
}
