.faq{
  border-top: 1px solid rgb(207, 218, 234);
}

h5{
  text-transform: uppercase;
  letter-spacing: .2em;
  color: #7dabd1;
  font-size: .8em;
}

h4{
  cursor: s-resize;
  margin-top: .375em;
  -webkit-transition: color .25s ease-in-out;
  -moz-transition: color .25s ease-in-out;
  -o-transition: color .25s ease-in-out;
  transition: color .25s ease-in-out;
}

h4:hover{
  color: #ff5269
}

.article-body{
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
}

span .description{
  font-family: "Cutive Mono", Arial, Helvetica, sans-serif;
}

.accordion-content{
  padding-bottom: 1.5em;
}
