.item{
  margin: 4% 0;
}
.item img{
  max-width: 60%;
  height:410px;
  display: block;
  margin: 0 auto;
}
.item-info span{
  display: block;
  text-align: center;
  font-family: "Cutive Mono", Arial, Helvetica, sans-serif;
  font-weight: lighter;
}
